<!DOCTYPE html>
<html>

<head>
  <title>My Website</title>
</head>

<body>
  <nav>
    {% block nav %} Default Navigation {% endblock %}
  </nav>
  <hr />
  <main>
    {% block body %} Default Body {% endblock %}
  </main>
</body>

</html>